<div class="container">
	<h1>V.A.M.P. Info</h1>
	<div class="form-actions">
	<a target="_blank" href="http://digitall.in.ua/web-interface-review-for-volumio/">Основная инструкция управлением V.A.M.P.</a> </a>
	<br>
	<br>
	<a target="_blank" href="http://forum.digitall.in.ua/threads/v-a-m-p-for-arm.28/">Страница на форуме по данному плееру</a> </a>	
	<br>
	<br>
    <a target="_blank" href="http://digitall.in.ua/forum/topic/%D0%B8%D1%81%D1%82%D0%BE%D1%80%D0%B8%D1%8F-%D0%BE%D0%B1%D0%BD%D0%BE%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B9/">История обновления прошивок</a> </a>			
</p></div>

	<form class="form-horizontal" data-validate="parsley" method="post">
		<fieldset>
			<legend> </legend>
$_eth0

		</fieldset>
		</form> 


</div>
